## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Georgetown,MY,81.90,few clouds,5.4112,100.3354,Cititel Penang
1,2,Busselton,AU,75.04,clear sky,-33.6500,115.3333,Observatory Guest House
2,12,Mahebourg,MU,82.69,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,15,Rikitea,PF,78.24,overcast clouds,-23.1203,-134.9692,People ThankYou
4,18,Hilo,US,75.61,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>

</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Nueve De Julio']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Nueve De Julio']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Mar Del Plata']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Necochea'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Viedma']

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
38,143,Nueve De Julio,AR,85.62,heavy intensity rain,-35.4444,-60.8831,Grand Hotel Libertad - GHL

In [7]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
80,297,Mar Del Plata,AR,80.1,overcast clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [8]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
143,528,Necochea,AR,78.33,light rain,-38.5473,-58.7368,dyd -mar Hotel

In [9]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
77,292,Viedma,AR,81.97,clear sky,-40.8135,-62.9967,Hotel Cristal

In [19]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]
print(start, end, stop1, stop2, stop3,)

(-35.4444, -60.8831) (-35.4444, -60.8831) (-38.0023, -57.5575) (-38.5473, -58.7368) (-40.8135, -62.9967)

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,143,Nueve De Julio,AR,85.62,heavy intensity rain,-35.4444,-60.8831,Grand Hotel Libertad - GHL
1,297,Mar Del Plata,AR,80.10,overcast clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
2,528,Necochea,AR,78.33,light rain,-38.5473,-58.7368,dyd -mar Hotel
3,292,Viedma,AR,81.97,clear sky,-40.8135,-62.9967,Hotel Cristal

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>

</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))